<a href="https://colab.research.google.com/github/sarthak221995/DSA/blob/main/Recursion%201%20to%205%20%7C%20Striver_A2Z_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recursion | Striver A2Z DSA Course

## 1. Print Name 5 Times Using Recursion



*   Time Complexity - O(n)
*   Space Complexity - O(n)

In [ ]:
def print_name(name, counter, n):
  if counter == n:
    return
  print(name)
  counter+=1
  print_name(name,counter,n)

print_name("Sarthak",0,5)

Sarthak
Sarthak
Sarthak
Sarthak
Sarthak

### Revision 1

In [26]:
def print_name(name, counter, n):
  if counter == n:
    return
  print(name)
  print_name(name,counter+1,n)

print_name('Sarthak',0,5)

Sarthak
Sarthak
Sarthak
Sarthak
Sarthak



---

## 2. Print Linearly From 1 to N



*   Time Complexity - O(n)
*   Space Complexity - O(n)

In [ ]:
def print_name(counter, n):
  if counter == n:
    return
  counter+=1
  print(counter)
  print_name(counter,n)

print_name(0,5)

1
2
3
4
5

### Revision 1

In [28]:
def print_linear(n,counter):
  if counter > n:
    return
  print(counter)
  print_linear(n,counter+1)

print_linear(5,1)

1
2
3
4
5



---

## 3. Print Linearly From 1 to N (BackTracking)

In [ ]:
def print_name(counter):
  if counter < 1:
    return
  print_name(counter-1)
  print(counter)

print_name(5)

1
2
3
4
5

### Revision 1

In [29]:
def print_linear(n,counter):
  if counter == 0:
    return
  print_linear(n,counter-1)
  print(counter)

print_linear(5,5)

1
2
3
4
5



---

## 4. Print Linearly From N to 1

In [ ]:
def print_name(counter):
  if counter == 0:
    return
  print(counter)
  counter-=1
  print_name(counter)

print_name(5)

5
4
3
2
1

### Revison 1

In [31]:
def print_linear(n):
  if n == 0:
    return
  print(n)
  print_linear(n-1)

print_linear(5)

5
4
3
2
1



---

## 5. Print Linearly From N to 1 (Backtracking)

In [1]:
def print_name(counter,n):
  if counter > n:
    return
  print_name(counter+1,n)
  print(counter)

print_name(1,5)

5
4
3
2
1

### Revision 1

In [ ]:
def print_linear(n,counter):
  if counter > n:
    return
  print_linear(n,counter+1)
  print(counter)

print_linear(5,1)



---

## Sum of 1 to N Numbers [Functional]

In [38]:
def n_sum(counter):
  if counter == 1 :
    return 1
  return counter+n_sum(counter-1)

n_sum(3)

6

### Revision

In [35]:
def n_sum(counter):
  if counter==0:
    return 0
  return counter + n_sum(counter-1)

n_sum(3)

6



---

## Sum of 1 to N Numbers [Parametrised]

In [ ]:
def n_sum(counter,total):
  if counter < 1 :
    print(total)
    return
  return n_sum(counter-1,total+counter)

n_sum(3,0)

### Revision 1

In [40]:
def n_sum(counter, total):
  if counter==0:
    return total
  return n_sum(counter-1, total+counter)

n_sum(3,0)

6



---

## Reverse a Array

In [9]:
def reverse(counter,arr):
  if counter == len(arr)-1:
    return
  counter+=1
  reverse(counter, arr)
  print(arr[counter])

arr = [1,2,3,4,5]
reverse(-1,arr)

5
4
3
2
1

In [15]:
def reverse_swap(l,r,arr):
  if l==r:
    return arr
  temp = arr[l]
  arr[l] = arr[r]
  arr[r] = temp
  return reverse_swap(l+1,r-1,arr)

arr = [1,2,3,4,5]
reverse_swap(0,len(arr)-1,arr)

[5, 4, 3, 2, 1]



### Revision 1

In [44]:
def reverse(i, arr, n):
  if i >= n/2: return arr
  temp = arr[i]
  arr[i] =  arr[n-i-1]
  arr[n-i-1] = temp
  return reverse(i+1,arr,n)
reverse(0,[1,2,3],3)

[3, 2, 1]



---

## Palindrome

In [21]:
def palindrome(s,i,n):
  if i>=n/2:
    return True
  if s[i] != s[n-i-1]:
    return False
  return palindrome(s,i+1,n)

palindrome('abba',0,3)

False

### Revision 1

In [47]:
def palindrome(i, arr, n):
  if i >= n/2: return True
  if arr[i] != arr[n-i-1] : return False
  return palindrome(i+1,arr,n)
palindrome(0,'aba',3)

True

---

## Fibonacci Number

In [22]:
def fibo(n):
  if n <=1:
    return n
  return fibo(n-1) + fibo(n-2)
fibo(3)

2

### Revision 1

In [48]:
def fibo(n):
  if n <=1:
    return n
  return fibo(n-1) + fibo(n-2)
fibo(3)

2



---

# References


1.   https://www.youtube.com/watch?v=yVdKa8dnKiE&list=PLgUwDviBIf0oF6QL8m22w1hIDC1vJ_BHz&index=8&pp=iAQB
2.   https://www.youtube.com/watch?v=un6PLygfXrA&list=PLgUwDviBIf0oF6QL8m22w1hIDC1vJ_BHz&index=9
3. https://www.youtube.com/watch?v=69ZCDFy-OUo&list=PLgUwDviBIf0oF6QL8m22w1hIDC1vJ_BHz&index=10
4. https://www.youtube.com/watch?v=twuC1F6gLI8&list=PLgUwDviBIf0oF6QL8m22w1hIDC1vJ_BHz&index=11
5. https://www.youtube.com/watch?v=kvRjNm4rVBE&list=PLgUwDviBIf0oF6QL8m22w1hIDC1vJ_BHz&index=12